* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
form input {
    margin-bottom: 10px;
}
button {
    margin: 5px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.goals {
    display: flex;
    flex-direction: column;
}
.goal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}
.goal {
    display: flex;
}
.delete-goal {
    padding: 0px 5px;
    color: red;
    font-weight: 600;
    cursor: pointer;
    border-left: 1px solid black;
}