* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}
a, button {
    background-color: #eee;
    padding: 5px 10px;
    border: 0.5px solid #666;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
a:hover, button:hover {
    background-color: #ccc;
}
form {
    position: relative;
    top: 10vh;
    height: 500px;
    width: 350px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 1px #ccc;
    border-radius: 10px;
}
form h1 {
    margin-bottom: 10px;
}
form input, form select {
    height: 30px;
    width: 100%;
    margin: 10px 0;
    padding: 0 5px;
}
form button {
    margin: 20px 0;
}

.nav {
    position: sticky;
    top: 0;
    width: min(95%, 1000px);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.home-button {
    width: 25px;
    cursor: pointer;
}
.page-title {
    width: min(95%, 1000px);
    margin: 3vh 0 2vh 0;
    font-size: min(4vw, 40px);
    font-weight: 600;
    letter-spacing: min(0.2vw, 2px);
}
.categories {
    width: min(95%, 1000px);
    display: none;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    padding: min(10vw, 100px) 0;
    margin: min(2vw, 16px) 0;
    border-radius: 5%;
    box-shadow: 0px 0px min(1vw, 10px) min(0.1vw, 1px) #ccc;
    font-size: min(4vw, 40px);
    font-weight: 600;
    letter-spacing: min(0.2vw, 2px);
    cursor: pointer;
}
.goals {
    position: relative;
    width: min(95%, 1000px);
    max-height: 75vh;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.goal-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}
.goal {
    width: calc(100% - 50px);
    min-height: 30px;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.options-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    position: absolute;
    right: 0;
    height: 30px;
    width: 0px;
    overflow: hidden;
    background-color: #fff;
    transition: width 300ms ease;
}
.options-button, .edit-button, .delete-button {
    height: 30px;
    width: 30px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.options-button {
    position: relative;
    width: 20px;
    background-image: url('../assets/images/options.svg');
}
.delete-button {
    background-color: rgba(255, 0, 0, 0.741);
    background-image: url('../assets/images/trash.png');
}
.edit-button {
    background-color: rgba(0, 0, 253, 0.505);
    background-image: url('../assets/images/edit.png');
}
.edit-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 50px);
    border: none;
    padding: 0 10px;
    font-size: 20px;
}
.edit-input:focus{
    outline: none;
}
.new-goal-button {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 179, 94);
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}